@use '../custom' as *;
@use '../components/mixins' as *;


.browse-the-range{
    h3{
        @include getFontProps($fS:32, $lH:48, $fW:700);
        color: $black-100;
        text-align: center;
        @include breakpoint(xs){
            font-size: toRem(26);
        }
    }
    p{  
        @include getFontProps($fS:20, $lH:30, $fW:400);
        color: $black-200;
        text-align: center;
        @include breakpoint(xs){
            @include getFontProps($fS:16, $lH:20);
        }
    }
    .range-box-wrapper{
        display: flex;
        gap: toRem(15);
        margin-top: toRem(30);

        @include breakpoint(xxl){}
        @include breakpoint(xl){
            margin-top: toRem(10);
        }
        @include breakpoint(md){}
        @include breakpoint(lg){
            margin-top: toRem(10);
        }
        @include breakpoint(sm){}
        @include breakpoint(xs){
            margin-top: toRem(10);
        }

        .swiper {
            width: 100%;
            height: 100%;
            @include breakpoint(xs){
                padding-bottom: toRem(30);
            }
            .swiper-slide {
                font-size: toRem(18);
                text-align: center;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .range-box{
                    flex: 1;  

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    h4{
                        @include getFontProps($fS:24, $lH:36, $fW:600);
                        color: $black-100;
                        text-align: center;
                        margin-top: toRem(15);
                        @include breakpoint(xxl){}
                        @include breakpoint(xl){
                            font-size: toRem(22);
                            margin-top: toRem(10);
                        }
                        @include breakpoint(md){
                            font-size: toRem(22);
                            margin-top: toRem(10);
                        }
                        @include breakpoint(lg){
                            font-size: toRem(22);
                            margin-top: toRem(10);
                        }
                        @include breakpoint(sm){}
                        @include breakpoint(xs){
                            font-size: toRem(20);
                            margin-top: toRem(10);
                        }
                    }
                }
            }
            .swiper-pagination{

            }
        }
        
    }
}